<a href="https://colab.research.google.com/github/LaFFF2300/Citie/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

Variable is basically a memory location where you can input or store values. 
In short, you are just reserving memory space by creating a variable. On the other hand, the data that will be stored by the variable consist of 5 types: Numbers, String, List, Tuple, and Dictionary.

In [ ]:
x = 1
i,j = 2, 13

In [ ]:
type(x)

In [ ]:
y = 1.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

In [ ]:
s_int = int(s)
s_int

##Operations

Operations or operators in python are used for computations, it may be arithmetic or logical computation. An operand is the value of the operator that it operates. Different types of operators are used to perform the calculator activity. Arithmetic, assignment operations, comparators, logical, and input or output are the different types of operations.

###Arithmetic

In [ ]:
a,b,c,d = 5.0,-3.5, 8, -32

In [ ]:
#Addition
S = a+b
S

In [ ]:
###Subtraction
D = b-d
D

In [ ]:
###Multiplication
P = a*d
P

In [ ]:
###Division 
Q = c/a
Q

In [ ]:
###Floor Division
Fq = a//b
Fq

In [ ]:
###Exponentiation
E = a**b
E

In [ ]:
###Modulo
mod = d%a
mod

###Assignment Operations

In [ ]:
G,H,J,K = 0, 100, 2, 2

In [ ]:
G += a
G

In [ ]:
H -= d 
H

In [ ]:
J *= 2
J

In [ ]:
K **= 3 
K

###Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1" 
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-Equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2 
t2 = res_1 < res_2/2 
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2

## Logical

In [ ]:
res_1 == true_val

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [ ]:
p, q = True, False 
conj = p and q 
conj

In [ ]:
p, q = True, False
disj = p or q 
disj

In [ ]:
p, q = True, False 
nand = not (p and q) 
nand

In [ ]:
p, q = True, False 
xor = (not p and q) or (p and not q) 
xor

## I/O

In [ ]:
print("Hello World")

In [ ]:
cnt = 1

In [ ]:
string = "Hello World" 
print(string, ", Current run count is:", cnt) 
cnt+= 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 90
name = "ijhnosalt" 
print("Hello {}, your semestral grade is: {}". format (name, sem_grade))

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4 
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.". format(w_pg, w_mg, w_fg))

In [ ]:
x = input ("enter a number: ")
x

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None 
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

#Looping Statements

Loops or looping are programming concept that allows us to iterate, meaning, we can execute the same block of code multiple times. There are two known types of loops; the while loop and the for loop.

##While

In [ ]:
##While loops 
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

##For

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Shake it off", "Blank space", "I did something bad"]
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

Shake it off
Blank space
I did something bad

#Flow Control

The order where statements or programsâ€™ code is executed based on conditions is called Flow Control. Conditional statements are statements that act based on a certain condition of true or false. If, if-else, if-elif-else, nested if-else statements are the different types of conditional statements.

##Condition Statements

In [ ]:
numeral1, numeral2 = 12, 11
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")

Hoho

#Functions

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
  
def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = 202012192
delete_user(202012192)
delete_all_users()

Successfully deleted user: 202012192
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
    print("yehey")
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent
  
addend1 = 5
addend2 = 10

exponent = 5

#add(addend1, addend2)
power_of_base2(exponent)

In [ ]:
add(addend1, addend2)

## Lambda Functions

In [ ]:
x = 4

#Calculator

The program made features the different basic fundamentals of Python learned 
by the students. The calculator will ask you to input your name, course being taken, preliminary grade, midterm grade, and of course your final grade. It will also show you a corresponding emoji based on the average of your input grades. All the methods above, except the looping statements, are used to create this program.

In [ ]:
print()
name = input('\tName: ');
course = input('\tCourse: ');
prelim = float(input('\tPrelim grade: '));
midterm = float(input('\tMidterm grade: '));
final = float(input('\tFinal grade: '));
sem_grade = (prelim*0.30) + (midterm*.30) + (final*.40);

sem_grade = "{:.2f}".format(sem_grade)
print();
print("\tResult");
print();
print("\t",name, ", a", course, "student");
if float(sem_grade) > 70.00:
  print("\tYour grade is", sem_grade, "\U0001F600");
elif float(sem_grade) == 70:
  print("\tYour grade is", sem_grade, "\U0001F606");
elif float(sem_grade) < 70:
  print("\tYour grade is", sem_grade, "\U0001F62D")
  print();

###Variable and Data types

In [1]:
m= 1
x,y,z= 6, 11, 23
y

11

In [2]:
type(x)

int

In [3]:
y=1.00
type(y)

float

In [7]:
x = float(x)
type(x)

float

In [9]:
s,t,u = "0", '1', 'one'
type(t)

str

In [10]:
s_int = int(s)
s_int

0

###Arithmetic

In [25]:
w,x,y,z = 1.00, -0.5, 0, -23

In [30]:
### addition
s = w+x
s

0.5

In [31]:
### substraction
D= x-z
D

22.5

In [32]:
### Multiplication
P = w*z
P

-23.0

In [33]:
### Division
D = y/w
D

0.0

In [34]:
### Floor Division
Fq = w//x
Fq

-2.0

In [35]:
### Exponentiation
E = w**x
E

1.0

In [36]:
### Modulo
mod = z%w
mod

0.0

###Assignment Operations

In [42]:
L,E,I,J = 10, 50, 32, 28

In [43]:
L += w
L

11.0

In [44]:
E -= z
E

73

In [45]:
I *=2
I

64

In [46]:
J **= 3
J

21952

##Comparators

In [58]:
res_1, res_2, res_3 = 2, 12, "2"
true_val = 2.0

In [59]:
## Equality
res_1==true_val

True

In [60]:
## Non-Equality
res_2 != true_val

True

In [61]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

## Logical

In [64]:
res_1 == true_val

True

In [65]:
res_1 is true_val

False

In [66]:
res_1 is not true_val

True

In [67]:
p, q = True, False
conj = p and q
conj

False

In [68]:
p, q = True, False
disj = p or q
disj

True

In [69]:
p, q = True, False
nand = not (p and q)
nand

True

In [70]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

###Input-output

In [ ]:
print("Ello Cutie")

In [76]:
cnt = 1

In [77]:
string = "Ello Cutie"
print ( string, ", Current run count is:", cnt)
cnt += 1

Ello Cutie , Current run count is: 1

In [78]:
print(f"{string}, Current count is: {cnt}")

Ello Cutie, Current count is: 2

In [79]:
sem_grade = 99.99767
name = "Isalex"
print("Hi {}, your semestral grade is: {}".format(name, sem_grade))

Hi Isalex, your semestral grade is: 99.99767

In [83]:
w_pg, w_nf, w_fg = 0.3, 0.3, 0.4
print("The weight of your semestral grade are:\
\n\t(:.2%) for prelims\
\n\t(:.2%) for midterms, and\
\n\t(:.2%) for finals.".format(w_pg, w_nf, w_fg))

The weight of your semestral grade are:
	(:.2%) for prelims
	(:.2%) for midterms, and
	(:.2%) for finals.

In [85]:
x = input("assign a number: ")
x

assign a number: 23

'23'

In [87]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = 100
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: Isalex
Enter prelim grade: 99
Enter midterm grade: 99
Enter final grade: 99
Hello Isalex, your semestral grade is: 100